<div class="slider">
    <div class="slide">
        <div class="slide-bg">
            <img
                src="https://www.themoviedb.org/t/p/w1280/1pdfLvkbY9ohJlCjQH2CZjjYVvJ.jpg"
                alt="slider-image background"
            />
        </div>
    </div>
    <div class="slide-pane">
        <h2 class="title">Slider Title</h2>
        <div class="meta">
            <div class="rating">
                <i>star-icon</i>
                <span>8.9</span>
                <span>/10</span>
            </div>
            <div class="votes">
                <i>vote-icon</i>
                <span>4433</span>
            </div>
            <div class="release-date">22.01.2024</div>
        </div>
        <div class="description">Some text will go here!</div>
    </div>
</div>
